html {
    scroll-behavior: smooth;
}

.first-page {
    background: linear-gradient(
                rgba(0,0,0,0.4),
                rgba(0,0,0,0.4)
                ),
                url(../images/bg-bear2.jpg) 
                no-repeat center;
    background-size:cover;
    height: 1200px;
}

.header {
    color: aliceblue;
    font-family: cursive;
}
.header h1 {
    font-size: 320%;
}

/* div {
    resize:both;
    overflow: auto;
} */

.header p {
    font-size:130%;
    /* font-family: 'Courier New', Courier, monospace; */
}

.main-section {
    margin: 0 auto;
    height: 100%;
}

#charts {
    height:500px;
}

.modal-content{
    background-color: rgb(216, 222, 236);
    opacity: 0.8;
    border-radius: 15px;
    padding-bottom: 10px;
    padding-top:10px;
}
.form-group input {
    border-radius: 15px;
    font-size: 18px;
}

div .user-img img {
    height: 180px;
    width: 160px;
    padding-bottom: 20px;
}

/* Change color of place holder of text type. */
input[type="text"]::placeholder{
    color: black;
}

/* button color */
.btn-success {
    background-color: brown;
    border-radius: 5px;
    border: black;
}

.btn-success:hover {
    background-color: rgb(128, 27, 27);
    border: black;
}


/* For Map */
#myMap{
    margin-left:7%;
}

#loader {
    margin-left:47%;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid pink;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }